/* *{
    background: darkslategrey !important;
}
body {
    background: darkslategray !important;
}
#app{
    background: darkslategrey !important;
}
main{
    background: darkslategrey !important;
}
html{
    background: darkslategrey !important;
} */

body {
    position: relative;
    
}

.my-form {
    position: relative;
    width: 100%;
    background: rgb(195 164 223 / 10%);
    margin-top: 3rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    color: wheat;
  }
  .my-layout {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card {
    border-radius: 1.5rem;
    background: rgb(195 164 223 / 10%);
    background-blend-mode: overlay;
    border: 1px solid rgb(69 74 118 / 30%);
    backdrop-filter: blur(50px);
  }

  .card input {
    background: rgb(11 10 30 / 50%);
    background-blend-mode: overlay;
    border: 1px solid rgb(11 10 30 / 50%);
    border-radius: 15px;
    color: wheat;
}

.card button {
    background: linear-gradient(99.61deg, #E3823C 14.81%, #E33C3C 89.9%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: .7rem;
}