<div class="login">
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input [(ngModel)]="userData.username" type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input [(ngModel)]="userData.password" type="password" class="form-control" placeholder="Password" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="panel">
        <button (click)="login()" type="button" class="btn btn-primary">Login</button>
    </div>
</div>