/* *{
    background: darkslategrey !important;
}
body {
    background: darkslategray !important;
}
#app{
    background: darkslategrey !important;
}
main{
    background: darkslategrey !important;
}
html{
    background: darkslategrey !important;
} */
.my-form {
    background: #213232;
    margin-top: 3rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    color: wheat;
  }