*{
    background: darkslategrey !important;
}
body {
    background: darkslategray !important;
}
#app{
    background: darkslategrey !important;
}
main{
    background: darkslategrey !important;
}
html{
    background: darkslategrey !important;

}